<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>/indexVerBoletines.jsp</welcome-file>
  </welcome-file-list>
  <display-name>METAREA VI</display-name>
  <servlet>
    <servlet-name>ControladorAgregarWarning</servlet-name>
    <servlet-class>controladores.ControladorAgregarWarning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAgregarWarning</servlet-name>
    <url-pattern>/ControladorAgregarWarning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorAgregarFenomeno</servlet-name>
    <servlet-class>controladores.ControladorAgregarFenomeno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAgregarFenomeno</servlet-name>
    <url-pattern>/ControladorAgregarFenomeno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorEliminarFenomeno</servlet-name>
    <servlet-class>controladores.ControladorEliminarFenomeno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorEliminarFenomeno</servlet-name>
    <url-pattern>/ControladorEliminarFenomeno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorGenerarBoletines</servlet-name>
    <servlet-class>controladores.ControladorGenerarBoletines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorGenerarBoletines</servlet-name>
    <url-pattern>/ControladorGenerarBoletines</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorAgregarWarningCosta</servlet-name>
    <servlet-class>controladores.ControladorAgregarWarningCosta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAgregarWarningCosta</servlet-name>
    <url-pattern>/ControladorAgregarWarningCosta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorAgregarWarningOffShore</servlet-name>
    <servlet-class>controladores.ControladorAgregarWarningOffShore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAgregarWarningOffShore</servlet-name>
    <url-pattern>/ControladorAgregarWarningOffShore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorEliminarWarning</servlet-name>
    <servlet-class>controladores.ControladorEliminarWarning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorEliminarWarning</servlet-name>
    <url-pattern>/ControladorEliminarWarning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorMatarWarning</servlet-name>
    <servlet-class>controladores.ControladorMatarWarning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMatarWarning</servlet-name>
    <url-pattern>/ControladorMatarWarning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorVerWarning</servlet-name>
    <servlet-class>controladores.ControladorVerWarning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorVerWarning</servlet-name>
    <url-pattern>/ControladorVerWarning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorActualizarWarning</servlet-name>
    <servlet-class>controladores.ControladorActualizarWarning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorActualizarWarning</servlet-name>
    <url-pattern>/ControladorActualizarWarning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorActualizarWarningOffShore</servlet-name>
    <servlet-class>controladores.ControladorActualizarWarningOffShore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorActualizarWarningOffShore</servlet-name>
    <url-pattern>/ControladorActualizarWarningOffShore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorActualizarWarningCoastal</servlet-name>
    <servlet-class>controladores.ControladorActualizarWarningCoastal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorActualizarWarningCoastal</servlet-name>
    <url-pattern>/ControladorActualizarWarningCoastal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorGenerarWarningActivos</servlet-name>
    <servlet-class>controladores.ControladorGenerarWarningActivos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorGenerarWarningActivos</servlet-name>
    <url-pattern>/ControladorGenerarWarningActivos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorEnviarArchivo</servlet-name>
    <servlet-class>controladores.ControladorEnviarArchivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorEnviarArchivo</servlet-name>
    <url-pattern>/ControladorEnviarArchivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorAgregarHielo</servlet-name>
    <servlet-class>controladores.ControladorAgregarHielo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAgregarHielo</servlet-name>
    <url-pattern>/ControladorAgregarHielo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorEliminarHielo</servlet-name>
    <servlet-class>controladores.ControladorEliminarHielo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorEliminarHielo</servlet-name>
    <url-pattern>/ControladorEliminarHielo</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ControladorConseguirDireccion</servlet-name>
    <servlet-class>controladores.ControladorConseguirDireccion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorConseguirDireccion</servlet-name>
    <url-pattern>/ControladorConseguirDireccion</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>ControladorEstadisticasWarningEntreFechas</servlet-name>
    <servlet-class>controladores.ControladorEstadisticasWarningEntreFechas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorEstadisticasWarningEntreFechas</servlet-name>
    <url-pattern>/ControladorEstadisticasWarningEntreFechas</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>